body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

section {
  display: flex;
  background-color: rgb(222, 199, 172);
  background-image: url(./img/kisspng-floral-design-flower-clip-art-5ae2a24ac61a01.5944212515248021228114.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
}

h1,
h2 {
  color: rgb(203, 96, 33);
  font-size: 16rem;
}

section p {
  text-transform: uppercase;
  padding: 1rem;
}

ol {
  padding: 1rem;
}

ol li {
  font-size: 2rem;
  margin-left: 2.5rem;
}

.text {
  width: 400px;
}

footer {
  display: flex;
  width: 100%;
}

nav a {
  margin: 1rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: rgb(64, 64, 64);
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  font-size: 2rem;
}

a:hover {
  background-color: rgb(64, 64, 64);
  color: rgb(238, 238, 238);
  cursor: pointer;
}

/* footer .left {
}

footer .right {
}
 */
.container {
  width: 100vw;
  height: 80rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: repeat(13, 1fr);
  gap: 10px;
}
.box1 {
  background: url(./images/1.jpeg);
  grid-area: 1/1/4/2;
}
.box2 {
  background: url(./images/2.jpeg);
  grid-area: 1/2/3/3;
}
.box3 {
  background: url(./images/3.jpeg);
  grid-area: 1/3/2/4;
}
.box4 {
  background: url(./images/4.jpeg);
  grid-area: 1/4/3/5;
}
.box5 {
  background: url(./images/5.jpeg);
  grid-area: 1/5/4/6;
}
.box6 {
  background: url(./images/6.jpeg);
  grid-area: 2/1/7/2;
}
.box7 {
  background: url(./images/7.jpeg);
  grid-area: 3/2/6/3;
}
.box8 {
  background: url(./images/8.jpeg);
  grid-area: 2/3/5/4;
}
.box9 {
  background: url(./images/9.jpeg);
  grid-area: 3/4/6/5;
}
.box10 {
  background: url(./images/10.jpeg);
  grid-area: 4/5/7/6;
}
.box11 {
  background: url(./images/11.jpeg);
  grid-area: 7/1/10/2;
}
.box12 {
  background: url(./images/12.jpeg);
}
.box13 {
  background: url(./images/13.jpeg);
}
.box14 {
  background: url(./images/14.jpeg);
}
.box15 {
  background: url(./images/15.jpeg);
}
.box16 {
  background: url(./images/16.jpeg);
  grid-area: auto;
}
.box17 {
  background: url(./images/17.jpeg);
  grid-area: auto;
}
.box18 {
  background: url(./images/18.jpeg);
  grid-area: auto;
}
.box19 {
  background: url(./images/19.jpeg);
  grid-area: auto;
}
.box20 {
  background: url(./images/20.jpeg);
  grid-area: auto;
}
.box21 {
  background: url(./images/21.jpeg);
  grid-area: auto;
}
.box22 {
  background: url(./images/22.jpeg);
  grid-area: auto;
}
.box23 {
  background: url(./images/23.jpeg);
  grid-area: auto;
}
.box24 {
  background: url(./images/24.jpeg);
  grid-area: auto;
}
.box25 {
  background: url(./images/25.jpeg);
  grid-area: auto;
}
